.sort-form {
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

select {
    width: 50%;
    border: none;
    background-color: gainsboro;
    height: 50px;
    padding: 0 10px;
    font-size: 15px;
}

select:hover {
    cursor: pointer;
}

