h1 {
    font-size: 45px;
    margin-bottom: 0;
  }

.header {
    border-color: rgb(181, 4, 4);
    border-style: none;
    border-bottom-style: double;
    border-bottom-width: 8px;
    border-top-style: double;
    border-top-width: 8px;
    margin: 20px 5%;
}