.details-photo {
    width: 70%;
    height: 700px;
    object-fit: cover;
    margin: none;
}

.details-text {
    margin: 20px 20%;
}

.caption {
    margin-top: none;
}

h4 {
    font-size: 30px;
    margin-bottom: 0;
}

h5 {
    font-size: 20px;
    margin-top: 15px;
}

a {
    font-size: 20px;
}